<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Scheduler"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentScheduler"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <receiver
            android:name=".Activity.Receiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".Activity.DetailedAssessments"
            android:exported="false"
            android:label="Assessments Details"
            android:parentActivityName=".Activity.AssessmentsList" />
        <activity
            android:name=".Activity.DetailedCourses"
            android:exported="false"
            android:label="Courses Details"
            android:parentActivityName=".Activity.CoursesList" />
        <activity
            android:name=".Activity.DetailedTerms"
            android:exported="false"
            android:label="Terms Details"
            android:parentActivityName=".Activity.TermsList" />
        <activity
            android:name=".Activity.AssessmentsList"
            android:exported="false"
            android:label="Assessments List"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.CoursesList"
            android:exported="false"
            android:label="Courses List"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.TermsList"
            android:exported="false"
            android:label="Terms List"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>